<div id="detail">
	<div class="table steps">
		<div id="detail-step"
			ng-repeat="section in data.body.PlanTripNotificationResponseType.ComposedTrip.sections"
			ng-click="onSelect($index)" ng-class="{selected: $index == selected}">
			<div class="table-row step stop_point" ng-class="{departure: $first}">
				<div class="table-cell departure_time">{{section.PTRide.Departure.DateTime
					| amDateFormat :'HH:mm'}}{{section.Leg.Departure.DateTime | amDateFormat
					:'HH:mm'}}</div>
				<div class="table-cell trip_picture">
					<i class='fa' ng-class="{'fa-circle-o': !$first, 'icon-location': $first}"></i>
				</div>
				<div class="table-cell">
					<span class="stop_point_name">
						<strong>
							<span ng-if="$first">
								<span translate>Departure</span>
							</span>
							<span>{{section.PTRide.Departure.TripStopPlace.Name}}{{section.Leg.Departure.TripStopPlace.Name}}</span>
						</strong>
						-
						<span>{{section.PTRide.Departure.TripStopPlace.CityName}}{{section.Leg.Departure.TripStopPlace.CityName}}</span>
					</span>
				</div>
			</div>
			<div class="table-row step">
				<div class="table-cell elapsed_time">{{getElapsedTime($index)
					|plantripDurationFormat:'h [h], m [min]'}}</div>
				<div class="table-cell trip_link"></div>
				<div class="table-cell leg" ng-if="section.Leg">
					<span title="{{'foot'| translate}}" class='icon-foot duration'></span>
					<span > {{section.Leg.Duration | plantripDurationFormat:'h [h] m
						[min]'}}</span>
					<span class='fa fa-clock-o waiting'></span>
					<span>{{getWaiting($index) | plantripDurationFormat:'h [h] m
						[min]'}}</span>
				</div>
				<div class="table-cell ptride" ng-if="section.PTRide">
					<div>
						<span title="{{section.PTRide.PublicTransportMode | translate}}" ng-class="getIconClass(section.PTRide.PublicTransportMode)"></span>
						<span translate>Line</span>
						{{section.PTRide.Line.Number}} - {{section.PTRide.Line.Name}}
					</div>
					<div>
						<span translate>Direction</span>
						{{section.PTRide.StopHeadSign}}
					</div>
				</div>
			</div>
			<div class="table-row step stop_point" ng-if="$last"
				ng-class="{arrival: $last}">
				<div class="table-cell departure_time">{{section.PTRide.Arrival.DateTime
					| amDateFormat :'HH:mm'}}{{section.Leg.Arrival.DateTime | amDateFormat
					:'HH:mm'}}</div>
				<div class="table-cell trip_picture">
					<i class='icon-location'></i>
				</div>
				<div class="table-cell">
					<span class="stop_point_name">
						<strong>
							<span translate>Arrival</span>
							<span>{{section.PTRide.Arrival.TripStopPlace.Name}}{{section.Leg.Arrival.TripStopPlace.Name}}</span>
						</strong>
						-
						<span>{{section.PTRide.Arrival.TripStopPlace.CityName}}{{section.Leg.Arrival.TripStopPlace.CityName}}</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
