<div id="home" ng-controller="HomeCtrl">

	<a id="contact" href="contact.html" translate>Contact</a>
		 
	<div id="locale" class="btn-group" dropdown>
		<button class="btn btn-default dropdown-toggle" dropdown-toggle data-toggle="dropdown">
			<img ng-class="'lang-' + getLocale()"></img>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li>
				<img class="lang-fr" ng-click="setLocale('fr')"></img>
			</li>
			<li>
				<img class="lang-en" ng-click="setLocale('en')" /></img>
			</li>
		</ul>
	</div>
	
	<div id="print">
		<button class="btn btn-default" title="{{ 'Print' | translate}}"
			ng-click="print()"
		>
			<i class="glyphicon glyphicon-print"></i>
		</button>
	</div>
	
	<div id="header">
		<div ui-view="viewE"></div>
	</div>
	
	<div id="body">
		<div ui-view="viewC"></div>
		<accordion id="responses" close-others="true"> <accordion-group
			class="panel-primary" is-open="groups[0].open"
		> <accordion-heading> <i
			class="glyphicon glyphicon-search"
		></i> <span translate>TripPlanner</span> </accordion-heading>
		<div ui-view="viewA"></div>
		</accordion-group> <accordion-group class="panel-primary" is-open="groups[1].open"
			ng-show="model.responses.starting"
		> <accordion-heading> <span
			ng-if="! model.responses.ending"
		>
			<i class="fa fa-spinner fa-spin"></i>
			<span class="searching" translate>Searching</span>
		</span> <span ng-if="model.responses.ending">
			<span translate>Solution</span>
		</span> </accordion-heading>
		<div>
			<div>
				<div ui-view="viewB"></div>
				<div class="panel panel-default" ng-controller="DetailCtrl" ng-show="data">
					<div class="panel-heading">					
						<span class="panel-title" translate>Detail</span>
						<span class="label label-default">{{index +1}}</span>
					</div>
					<div class="panel-body">
						<div ui-view="viewD"></div>
					</div>
				</div>
			</div>
		</div>
		</accordion-group> </accordion>
	</div>
	
	<div id="footer">	
	</div>
	
</div>