<div id="home" ng-controller="HomeCtrl">
	<a id="contact" href="contact.html" translate>Contact</a>
	<!-- 	<a id="contact" target="_blank"  href="{{contact}}" translate>Contact</a> -->
	<div id="locale" class="btn-group" dropdown>
		<button type="button" class="btn btn-default dropdown-toggle"
			title="{{ 'Locale' | translate}}" dropdown-toggle
		>
			<div ng-class="'lang-' + getLocale()"></div>
			<!-- 			<i class="caret"></i> -->
		</button>
		<ul class="dropdown-menu" role="menu">
			<li>
				<div class="lang-fr" ng-click="setLocale('fr')"></div>
			</li>
			<li>
				<div class="lang-en" ng-click="setLocale('en')"></div>
			</li>
		</ul>
	</div>
	<div id="print">
		<button class="btn btn-default" title="{{ 'Print' | translate}}"
			ng-click="print()" ng-disabled="disabled"
		>
			<i class="glyphicon glyphicon-print"></i>
		</button>
	</div>
	<div id="header">
		<div ui-view="viewE"></div>
	</div>
	<div id="body">
		<div ui-view="viewC"></div>
		<accordion id="responses" close-others="true"> <accordion-group
			class="panel-primary" is-open="groups[0].open"
		> <accordion-heading> <i
			class="glyphicon glyphicon-search"
		></i> <span translate>TripPlanner</span> </accordion-heading>
		<div ui-view="viewA"></div>
		</accordion-group> <accordion-group class="panel-primary" is-open="groups[1].open"
			ng-show="model.responses.starting"
		> <accordion-heading> <span
			ng-if="! model.responses.ending"
		>
			<i class="fa fa-spinner fa-spin"></i>
			<span class="searching" translate>Searching</span>
		</span> <span ng-if="model.responses.ending">
			<span translate>Solution</span>
		</span> </accordion-heading>
		<div>
			<div ui-view="viewB"></div>
			<div id="print-detail">
			
				<div  class="panel panel-default"
					ng-controller="DetailCtrl" ng-show="data"
				>
					<div class="panel-heading">
						<span class="panel-title" translate>Detail</span>
						<span class="label label-default">{{index +1}}</span>
					</div>
					<div class="panel-body">
						<div ui-view="viewD"></div>
					</div>
				</div>
			</div>
		</div>
		</accordion-group> </accordion>
	</div>
	<div id="footer"></div>
</div>